<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Form</title>
</head>

<style>
    .layout {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    }

    .layout > input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    }

    .layout > textarea {
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    margin-top: 10px;
    }

    .layout > button {
    width: 70px;
    height: 30px

    }


</style>

<body>
    <div class="layout">
        <h1>Write Something</h1>
        <input type="text">
        <textarea></textarea>
        <button>Write</button>

    </div>
</body>
</html>